<DOCTYPE html>
<html>
<head>
<meta charset = "utf-8">
<title>html help </title>

 </head>
<body>
    <h1> {{pageTitle}} </h1>
     <p> {{>text}} </p>
    <p>some text here</p>

     {{> footer}} 
 </body>
<html>